/*@import "material/buttons.scss";*/
@font-face {
  font-family: "SofiaPro";
  src: url("../fonts/SofiaPro-Regular.woff"); }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff"); }
.heading {
  font-family: "SofiaPro";
  font-weight: normal;
  font-style: normal;
  color: #3c3750;
  line-height: 1.33; }
  .heading--light {
    color: #817d8e; }
  .heading--regular {
    font-weight: normal; }
  .heading--italic {
    font-style: italic; }
  .heading--thin {
    font-weight: 300; }
  .heading--center {
    text-align: center; }

.heading__light {
  opacity: 0.4; }

.heading__breadcrumb {
  color: #e0e0e0;
  font-size: calc(0.7894736842vw + 0.8733552632rem); }
  @media (min-width: 79.375em) {
    .heading__breadcrumb {
      font-size: 1.5rem; } }

.heading__text {
  vertical-align: baseline;
  margin-right: 0.5em; }
  .heading__text--warning {
    display: inline-block;
    position: relative;
    bottom: 0.4375rem;
    margin-bottom: 0.625rem;
    margin-right: 1.875rem;
    font-size: 1.125rem;
    font-size: calc(0.3157894737vw + 0.8743421053rem);
    padding: 0.611em 2.38em 0.611em 2.38em;
    color: #c62828;
    border: 0.1875rem solid #c62828;
    border-top-left-radius: 3.75rem;
    border-top-right-radius: 3.75rem;
    border-bottom-left-radius: 3.75rem;
    border-bottom-right-radius: 3.75rem; }
    @media (min-width: 79.375em) {
      .heading__text--warning {
        font-size: 1.125rem; } }

.heading--1 {
  font-size: calc(1.0526315789vw + 2.0394736842rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 79.375em) {
    .heading--1 {
      font-size: 2.875rem; } }

.heading--2 {
  font-size: calc(1.0526315789vw + 1.6644736842rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 79.375em) {
    .heading--2 {
      font-size: 2.5rem; } }

.heading--3 {
  font-size: calc(0.6315789474vw + 1.4986842105rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 79.375em) {
    .heading--3 {
      font-size: 2rem; } }

.heading--4 {
  font-size: calc(0.4210526316vw + 1.2907894737rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 79.375em) {
    .heading--4 {
      font-size: 1.625rem; } }

.heading--5 {
  font-size: calc(0.2105263158vw + 0.9578947368rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 79.375em) {
    .heading--5 {
      font-size: 1.125rem; } }

.heading--6 {
  font-size: calc(0.1052631579vw + 0.9164473684rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 79.375em) {
    .heading--6 {
      font-size: 1rem; } }

.homepage {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  align-items: flex-end;
  overflow: hidden; }
  @media (min-width: 62.5em) {
    .homepage {
      display: flex; } }
  .homepage--small {
    display: flex; }
    @media (min-width: 62.5em) {
      .homepage--small {
        display: none; } }

.homepage__wrapper {
  display: flex; }

.homepage__item {
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: flex-start;
  width: 25%;
  min-height: 100%;
  padding-left: calc(2.1739130435vw + 1.1413043478rem);
  padding-right: calc(2.1739130435vw + 1.1413043478rem);
  /*padding-bottom: rem(70);*/
  max-height: 67.5rem; }
  @media (min-width: 120em) {
    .homepage__item {
      padding-left: calc(6.0344827586vw - 3.4913793103rem); } }
  @media (min-width: 156.25em) {
    .homepage__item {
      padding-left: 5.9375rem; } }
  @media (min-width: 120em) {
    .homepage__item {
      padding-right: calc(6.0344827586vw - 3.4913793103rem); } }
  @media (min-width: 156.25em) {
    .homepage__item {
      padding-right: 5.9375rem; } }
  .homepage__item:hover.division-developing ~ .homepage__background {
    transform: translateX(0);
    display: block; }
  .homepage__item:hover.division-solar ~ .homepage__background {
    transform: translateX(100%);
    display: block; }
  .homepage__item:hover.division-landscape ~ .homepage__background {
    transform: translateX(200%);
    display: block; }
  .homepage__item:hover.division-finance ~ .homepage__background {
    transform: translateX(300%);
    display: block; }

.homepage__illustration {
  width: 100%;
  display: block;
  flex-shrink: 0;
  margin-bottom: 4.375rem;
  filter: grayscale(100%);
  opacity: .1;
  transition: 0.3s ease-in-out 0.1s; }
  .homepage__item:hover .homepage__illustration {
    opacity: 1;
    filter: grayscale(0%);
    transform: translateY(0.3125rem); }

.homepage__logo {
  display: block;
  width: 90%;
  margin-bottom: 5vh;
  margin-top: 2vh; }

.homepage__paragraph {
  width: 100%;
  font-size: calc(0.3076923077vw + 0.5057692308rem);
  /*margin-bottom: 60px;*/
  margin-bottom: calc(5.5555555556vh + 0rem); }
  @media (min-width: 120em) {
    .homepage__paragraph {
      font-size: 0.875rem; } }
  @media (min-height: 67.5em) {
    .homepage__paragraph {
      margin-bottom: 3.75rem; } }

.homepage__link {
  cursor: pointer;
  position: relative;
  width: 3.75rem;
  width: calc(1.0869565217vw + 2.4456521739rem);
  display: block;
  margin-top: auto;
  bottom: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-bottom: 4.375rem;
  transition: ease-in-out 0.15s; }
  @media (min-width: 120em) {
    .homepage__link {
      width: 3.75rem; } }
  .homepage__item:hover .homepage__link {
    transform: translateY(-0.625rem); }
  .division-developing .homepage__link {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(13, 86, 165, 0.45); }
  .division-finance .homepage__link {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(253, 184, 19, 0.45); }
  .division-landscape .homepage__link {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(141, 198, 63, 0.65); }
  .division-solar .homepage__link {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(237, 28, 36, 0.45); }
  .homepage__item:hover.division-developing .homepage__link {
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(13, 86, 165, 0.25); }
  .homepage__item:hover.division-finance .homepage__link {
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(253, 184, 19, 0.25); }
  .homepage__item:hover.division-landscape .homepage__link {
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(141, 198, 63, 0.25); }
  .homepage__item:hover.division-solar .homepage__link {
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(237, 28, 36, 0.25); }

.homepage__link__svg {
  position: absolute;
  top: 0.0625rem;
  bottom: 0;
  left: 0.125rem;
  right: 0;
  margin: auto;
  width: 20%; }

.homepage__background {
  top: 0;
  height: 100%;
  width: 25%;
  position: absolute;
  display: none;
  box-shadow: 0 0 2rem 0 rgba(60, 55, 80, 0.1);
  transition: 0.3s ease-in-out 0.1s;
  transition: transform 0.6s cubic-bezier(0.1, 0.9, 0.3, 1.1); }

.header {
  /*background-color: green;*/
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 5rem;
  /*@include linear-interpolation-chain(height,$header-heights);*/
  transition: height 0.4s ease;
  will-change: height; }
  @media (min-width: 50em) {
    .header {
      height: 8.125rem; } }

.header--scrolled {
  box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.05); }
  @media (min-width: 50em) {
    .header--scrolled {
      height: 5rem; }
      .header--scrolled .header__logo {
        width: 10.4375rem; } }

.header__container {
  /*background-color: red;*/
  position: relative;
  display: flex;
  width: 100%;
  max-width: 79.375rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0vw + 2.1875rem);
  padding-right: calc(0vw + 2.1875rem);
  height: 100%;
  align-items: center; }
  @media (min-width: 79.375em) {
    .header__container {
      padding-left: 2.1875rem; } }
  @media (min-width: 79.375em) {
    .header__container {
      padding-right: 2.1875rem; } }

.header__logo {
  width: 10.4375rem;
  margin-top: 0.25rem;
  will-change: width, height;
  transition-property: width, height;
  transition-duration: 0.4s;
  transition-timing-function: ease; }
  @media (min-width: 50em) {
    .header__logo {
      width: 13.125rem; } }

.header__hamburger {
  align-self: center;
  margin-left: auto; }
  @media (min-width: 50em) {
    .header__hamburger {
      display: none; } }

.header__hamburger__svg {
  width: 1.875rem; }

.header__link {
  display: none;
  color: #3c3750;
  font-size: 1.125rem;
  margin-right: 3.125rem;
  margin-left: auto;
  cursor: pointer; }
  @media (min-width: 50em) {
    .header__link {
      display: block; } }

.header__languages {
  display: block;
  margin-left: auto;
  align-self: center;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.2); }
  @media (min-width: 50em) {
    .header__languages {
      margin-left: 0;
      display: block; } }

.header__languages__item {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none; }
  .header__languages__item:hover, .header__languages__item--active {
    color: #3c3750; }

#sidebar {
  display: none; }
  #sidebar:checked + .sidebar {
    transform: translateX(0); }

.sidebar {
  z-index: 150;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #ffffff;
  transform: translateX(-100%);
  width: 100%;
  overflow: hidden; }
  .page--homepage .sidebar {
    display: none; }
  @media (min-width: 50em) {
    .sidebar {
      display: none; } }

.sidebar__scrollarea {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-y: scroll; }

.sidebar__container {
  display: flex;
  width: 100%;
  max-width: 79.375rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0vw + 2.1875rem);
  padding-right: calc(0vw + 2.1875rem);
  display: flex;
  height: 100%;
  flex-direction: column; }
  @media (min-width: 79.375em) {
    .sidebar__container {
      padding-left: 2.1875rem; } }
  @media (min-width: 79.375em) {
    .sidebar__container {
      padding-right: 2.1875rem; } }
  @media (min-width: 50em) {
    .sidebar__container {
      width: calc(26.5957446809vw + 5.4521276596rem); } }
  @media (min-width: 50em) and (min-width: 79.375em) {
    .sidebar__container {
      width: 26.5625rem; } }

.sidebar__header {
  position: relative;
  display: flex;
  width: 100%;
  height: 8.125rem;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 3.125rem; }

.sidebar__header__logo {
  width: 13.125rem;
  margin-top: 0.25rem; }

.sidebar__header__close {
  margin-left: auto; }

.sidebar__header__svg {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  display: block; }

.sidebar__logo {
  margin-bottom: 3.125rem; }

.scrollnav {
  display: flex;
  width: 100%;
  max-width: 79.375rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0vw + 2.1875rem);
  padding-right: calc(0vw + 2.1875rem);
  justify-content: space-between;
  font-family: "SofiaPro";
  font-size: calc(0.2083333333vw + 0.7708333333rem);
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.04); }
  @media (min-width: 79.375em) {
    .scrollnav {
      padding-left: 2.1875rem; } }
  @media (min-width: 79.375em) {
    .scrollnav {
      padding-right: 2.1875rem; } }
  @media (min-width: 50em) {
    .scrollnav {
      font-size: 0.875rem; } }
  @media (min-width: 25em) {
    .scrollnav {
      justify-content: flex-start;
      width: auto;
      padding-right: 2em;
      padding-left: calc(0vw + 2.1875rem);
      border-bottom-right-radius: 1.875rem;
      border-top-right-radius: 1.875rem; } }
  @media (min-width: 25em) and (min-width: 79.375em) {
    .scrollnav {
      padding-left: 2.1875rem; } }

  @media (min-width: 50em) {
    .scrollnav {
      display: none; } }

.scrollnav__item {
  position: relative;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease; }
  @media (min-width: 25em) {
    .scrollnav__item:not(:last-child) {
      margin-right: 1.875rem; } }
  .scrollnav__item:hover, .scrollnav__item--active {
    color: #3c3750; }
    .scrollnav__item:hover .topnav__underline, .scrollnav__item--active .topnav__underline {
      background-color: #3c3750;
      transform: scaleX(1); }

.scrollnav__underline {
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scaleX(0);
  transform-origin: left center;
  transition-property: transform, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease; }

.mininav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  margin: auto;
  font-size: 1.875rem;
  padding: 0.625rem 2.1875rem;
  box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.05); }
  @media (min-width: 50em) {
    .mininav {
      justify-content: center;
      width: auto;
      bottom: auto;
      background-color: transparent;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
      box-shadow: none; } }

.mininav__item:not(:last-child) {
  margin-right: 0.7em; }

.mininav__item--about {
  margin-left: auto; }
  @media (min-width: 50em) {
    .mininav__item--about {
      display: none; } }

.mininav__item__svg {
  width: 2.375rem;
  height: 2.375rem;
  will-change: width, height;
  transition-property: width, height;
  transition-duration: 0.4s;
  transition-timing-function: ease; }

@media (min-width: 50em) {
  .header--scrolled .mininav__item__svg {
    width: 1.875rem;
    height: 1.875rem; } }

.sidenav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 25rem;
  max-height: 43.75rem;
  justify-content: space-between;
  font-size: calc(1.0416666667vw + 0.8541666667rem); }
  @media (min-width: 50em) {
    .sidenav {
      font-size: calc(1.0638297872vw + 0.5305851064rem); } }
  @media (min-width: 79.375em) {
    .sidenav {
      font-size: 1.375rem; } }
  @media (min-width: 50em) {
    .sidenav {
      /*        min-height: rem(600);
              max-height: rem(900);
              justify-content: space-between;*/ } }

.sidenav__item {
  width: 13.125rem;
  display: flex;
  color: #3c3750;
  text-decoration: none; }
  .sidenav__item--margin {
    margin-bottom: 0.9375rem; }
  .sidenav__item:not(.sidenav__item--main):hover .sidenav__logo {
    transform: translateX(0.3125rem); }
  .sidenav__item:not(.sidenav__item--main):hover .sidenav__text {
    transform: translateX(0.3125rem); }

.sidenav__logo {
  width: 100%; }

.sidenav__divider {
  width: 50%;
  height: 0.0625rem;
  background-color: #817d8e; }
  @media (min-width: 50em) {
    .sidenav__divider {
      margin-bottom: 0; } }

.sidenav__languages {
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 3.125rem; }

.sidenav__languages__item {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none; }
  .sidenav__languages__item:hover, .sidenav__languages__item--active {
    color: #3c3750; }

.main {
  display: flex;
  width: 100%;
  max-width: 79.375rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0vw + 2.1875rem);
  padding-right: calc(0vw + 2.1875rem);
  z-index: 50;
  position: relative;
  flex-direction: column;
  padding-top: 5rem;
  padding-top: calc(0vw + 5rem);
  margin-bottom: calc(9.4736842105vw + 1.8552631579rem);
  flex-grow: 1; }
  @media (min-width: 79.375em) {
    .main {
      padding-left: 2.1875rem; } }
  @media (min-width: 79.375em) {
    .main {
      padding-right: 2.1875rem; } }
  @media (min-width: 50em) {
    .main {
      padding-top: 8.125rem; } }
  @media (min-width: 50em) {
    .main {
      padding-top: calc(5000vw - 2495rem); } }
  @media (min-width: 50.0625em) {
    .main {
      padding-top: calc(0vw + 8.125rem); } }
  @media (min-width: 56.1875em) {
    .main {
      padding-top: calc(5000vw - 2801.25rem); } }
  @media (min-width: 56.25em) {
    .main {
      padding-top: calc(5.4054054054vw + 8.2094594595rem); } }
  @media (min-width: 79.375em) {
    .main {
      padding-top: 12.5rem; } }
  @media (min-width: 79.375em) {
    .main {
      margin-bottom: 9.375rem; } }
  .main--homepage {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: none;
    padding-top: 0; }

.info {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  flex-direction: column; }
  @media (min-width: 56.25em) {
    .info {
      padding-bottom: 5rem; } }
  @media (min-width: 56.25em) {
    .info {
      flex-direction: row;
      padding-right: 42%; }
      .page--about .info {
        padding-right: 0; } }

.info__logo {
  width: calc(18.9473684211vw + 13.0855263158rem);
  max-width: 100%;
  margin-bottom: 1.875rem; }
  @media (min-width: 79.375em) {
    .info__logo {
      width: 28.125rem; } }
  @media (min-width: 56.25em) {
    .info__logo {
      margin-bottom: 3.75rem; } }

.info__heading {
  line-height: 1.3;
  margin-bottom: 4.375rem;
  position: relative; }

.info__paragraph {
  position: relative; }

.info__accordion__wrapper {
  position: relative; }

.info__gradient {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }

.page--about .info__description {
  max-width: 56.25rem; }

.info__illustration {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.875rem;
  display: none; }
  @media (min-width: 50em) {
    .info__illustration {
      margin-bottom: 2.5rem; } }
  .info__illustration--small {
    display: block; }
  @media (min-width: 56.25em) {
    .info__illustration {
      width: 30rem;
      max-width: none;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(100%);
      right: -10%; }
      .info__illustration--small {
        display: none; }
      .info__illustration--large {
        display: block; } }
  .info__illustration--about {
    display: block;
    width: 81.25rem;
    max-width: none;
    margin-bottom: 0;
    position: absolute;
    bottom: -6.5625rem;
    right: 0;
    transform: translateX(71%);
    z-index: -10;
    opacity: 0.3; }

.info__accordion {
  position: relative; }
  .info__accordion.is-active {
    overflow: visible; }
    .info__accordion.is-active .info__gradient {
      background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%); }
    .info__accordion.is-active .info__accordion__button:after {
      content: "SKRY\0164"; }
      :lang(en) .info__accordion.is-active .info__accordion__button:after {
        content: "HIDE"; }

.info__accordion__hidden {
  height: 0;
  overflow: hidden; }
  .info__accordion__hidden > .info__paragraph:last-child {
    margin-bottom: 7.5rem; }

.info__accordion__button {
  z-index: 60;
  font-size: 0.8125rem;
  bottom: 2.75rem;
  color: #3c3750;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding: 0.9375rem 1.625rem 0.8125rem 1.625rem;
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;
  border-bottom-left-radius: 3.75rem;
  border-bottom-right-radius: 3.75rem;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 500ms;
  box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.05);
  white-space: nowrap; }
  .info__accordion__button:after {
    display: block;
    line-height: 1;
    content: "ZOBRAZI\0164  VIAC"; }
    :lang(en) .info__accordion__button:after {
      content: "SHOW MORE"; }

.paragraph {
  font-size: calc(0.1052631579vw + 0.9164473684rem);
  color: #817d8e;
  display: block;
  line-height: 2;
  margin: 0;
  margin-bottom: 2em; }
  @media (min-width: 79.375em) {
    .paragraph {
      font-size: 1rem; } }
  @media (min-width: 56.25em) {
    .paragraph {
      margin-bottom: 3.5em; } }
  .paragraph > u {
    background-color: transparent;
    text-decoration: none;
    border-bottom: 0.0625rem currentColor solid;
    padding-bottom: 0.0625rem; }
    .page--about .paragraph > u {
      color: #00a6e7; }
    .page--developing .paragraph > u {
      color: #0d56a5; }
    .page--finance .paragraph > u {
      color: #fdb813; }
    .page--landscape .paragraph > u {
      color: #8dc63f; }
    .page--solar .paragraph > u {
      color: #ed1c24; }

.invests {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .invests--preparing .invests__row {
    /*opacity: 0.03;*/ }

.invests__heading {
  text-transform: none;
  width: 100%;
  margin-bottom: 3.125rem;
  line-height: 1; }

.invests__row {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
  padding: calc(5.1724137931vw + 0.5280172414rem); }
  @media (min-width: 56.25em) {
    .invests__row {
      padding: 3.4375rem; } }
  @media (min-width: 56.25em) {
    .invests__row {
      padding: 0;
      flex-direction: row;
      box-shadow: none; } }
  .invests__row:not(:last-child) {
    margin-bottom: 4.375rem; }

.invests__contacts {
  margin-right: auto;
  color: #817d8e;
  /*max-width: rem(450);*/
  width: 100%;
  padding: 0; }
  .invests--preparing .invests__contacts {
    /*background-color: black;*/ }
  @media (min-width: 56.25em) {
    .invests__contacts {
      flex-shrink: 0;
      box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
      width: 20.625rem;
      padding: 2.5rem 2.5rem; } }

.invests__logo {
  width: 100%;
  max-width: 21.875rem;
  margin-bottom: 2.5rem;
  margin-right: auto; }
  .invests__logo--large {
    display: block; }
    @media (min-width: 56.25em) {
      .invests__logo--large {
        display: none; } }
  .invests__logo--small {
    display: none; }
    @media (min-width: 56.25em) {
      .invests__logo--small {
        display: block; } }

.invests__description {
  margin-bottom: 3.125rem; }
  @media (min-width: 56.25em) {
    .invests__description {
      margin-bottom: 0;
      margin-left: 4em; } }

.invests__paragraph {
  margin-bottom: 0; }

.invests__description__heading {
  text-transform: none;
  width: 100%;
  margin-bottom: 1em; }

.contacts {
  display: flex;
  flex-direction: column;
  color: #817d8e;
  font-size: calc(0.1052631579vw + 0.9164473684rem);
  box-shadow: none;
  width: 100%; }
  @media (min-width: 79.375em) {
    .contacts {
      font-size: 1rem; } }
  @media (min-width: 53.125em) {
    .contacts {
      box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
      padding: 3.75rem 3.4375rem;
      width: auto; } }

.contacts__heading {
  width: 100%;
  margin-bottom: 1.2em;
  color: #3c3750; }

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between; }
  @media (min-width: 53.125em) {
    .contacts__wrapper {
      flex-direction: row; } }

.contacts__col:not(:last-child) {
  margin-bottom: 3em; }
@media (min-width: 53.125em) {
  .contacts__col {
    margin-bottom: 0; } }

.contacts__line:not(:last-child) {
  margin-bottom: 0.8em; }
.contacts__line--dark {
  color: #3c3750; }

.table {
  table-layout: fixed; }
  .table--full {
    width: 100%; }

.table__row:last-child .table__cell {
  padding-bottom: 0; }

.table__cell {
  vertical-align: top;
  text-decoration: none;
  padding-bottom: 0.8em; }
  .table__cell:first-child {
    width: 4.6875rem;
    color: #3c3750; }
    .page--developing .table--color .table__cell:first-child {
      color: #0d56a5; }
    .page--finance .table--color .table__cell:first-child {
      color: #fdb813; }
    .page--landscape .table--color .table__cell:first-child {
      color: #8dc63f; }
    .page--solar .table--color .table__cell:first-child {
      color: #ed1c24; }
    .page--about .table--color .table__cell:first-child {
      color: #00a6e7; }
  .table__row--space .table__cell {
    padding-bottom: 2em; }

.divisions {
  display: flex;
  width: 100%;
  /*@include container-custom($layout-container-max-width,(xl:40,s:25));*/
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column; }
  @media (min-width: 56.25em) {
    .divisions {
      flex-direction: row;
      align-items: flex-start; } }

.divisions__heading {
  text-transform: none;
  width: 100%;
  margin-bottom: 1.7em;
  padding-left: calc(-1.0526315789vw + 0.8355263158rem); }
  @media (min-width: 79.375em) {
    .divisions__heading {
      padding-left: 0rem; } }

.divisions__breadcrumb {
  color: #817d8e;
  font-size: 0.7em;
  margin-left: 1em;
  white-space: nowrap; }

.divisions__card {
  position: relative;
  width: 100%;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
  text-decoration: none;
  padding-left: calc(4.9473684211vw + 0.5730263158rem);
  padding-right: calc(4.9473684211vw + 0.5730263158rem);
  padding-top: calc(4.6315789474vw + 1.5736842105rem);
  padding-bottom: calc(1.6842105263vw + 2.7881578947rem);
  margin-bottom: calc(3.1578947368vw + 4.0559210526rem); }
  @media (min-width: 79.375em) {
    .divisions__card {
      padding-left: 4.5rem; } }
  @media (min-width: 79.375em) {
    .divisions__card {
      padding-right: 4.5rem; } }
  @media (min-width: 79.375em) {
    .divisions__card {
      padding-top: 5.25rem; } }
  @media (min-width: 79.375em) {
    .divisions__card {
      padding-bottom: 4.125rem; } }
  @media (min-width: 79.375em) {
    .divisions__card {
      margin-bottom: 6.5625rem; } }
  @media (min-width: 56.25em) {
    .divisions__card {
      width: 46%; } }
  @media (min-width: 50em) {
    .divisions__card {
      width: 100%; } }
  @media (min-width: 81.25em) {
    .divisions__card {
      width: 46%; } }

.divisions__card__logo {
  width: 90%;
  max-width: 19.125rem; }

.divisions__card__paragraph {
  margin-top: calc(1.6842105263vw + 1.5381578947rem);
  font-size: calc(0.2105263158vw + 0.7078947368rem);
  color: #817d8e;
  display: block;
  line-height: 2;
  margin-bottom: 0; }
  @media (min-width: 79.375em) {
    .divisions__card__paragraph {
      margin-top: 2.875rem; } }
  @media (min-width: 79.375em) {
    .divisions__card__paragraph {
      font-size: 0.875rem; } }

.divisions__card__button {
  position: absolute;
  width: 3.75rem;
  display: block;
  bottom: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  transform: translateY(50%);
  transition: ease-in 0.15s; }
  .division-developing .divisions__card__button {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(13, 86, 165, 0.45); }
  .division-finance .divisions__card__button {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(253, 184, 19, 0.45); }
  .division-landscape .divisions__card__button {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(141, 198, 63, 0.65); }
  .division-solar .divisions__card__button {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(237, 28, 36, 0.45); }
  .division-developing .divisions__card__button:hover {
    transform: translateY(40%);
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(13, 86, 165, 0.25); }
  .division-finance .divisions__card__button:hover {
    transform: translateY(40%);
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(253, 184, 19, 0.25); }
  .division-landscape .divisions__card__button:hover {
    transform: translateY(40%);
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(141, 198, 63, 0.25); }
  .division-solar .divisions__card__button:hover {
    transform: translateY(40%);
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(237, 28, 36, 0.25); }

.divisions__card__svg {
  position: absolute;
  top: 0.0625rem;
  bottom: 0;
  left: 0.125rem;
  right: 0;
  margin: auto;
  width: 20%; }

.svg {
  display: block; }

.svg--arrow .svg__path {
  stroke: #3c3750; }
  .division-developing .svg--arrow .svg__path {
    stroke: #0d56a5; }
  .division-finance .svg--arrow .svg__path {
    stroke: #fdb813; }
  .division-landscape .svg--arrow .svg__path {
    stroke: #8dc63f; }
  .division-solar .svg--arrow .svg__path {
    stroke: #ed1c24; }

.svg--minidevelop .svg__path, .svg--minisolar .svg__path, .svg--minilandscape .svg__path, .svg--minifinance .svg__path, .svg--miniabout .svg__path {
  fill: rgba(0, 0, 0, 0.2);
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }

.mininav__item--active .svg--minidevelop .svg__path {
  fill: #0d56a5; }
.mininav__item:hover .svg--minidevelop .svg__path {
  fill: #0d56a5; }

.mininav__item--active .svg--minisolar .svg__path {
  fill: #ed1c24; }
.mininav__item:hover .svg--minisolar .svg__path {
  fill: #ed1c24; }

.mininav__item--active .svg--minilandscape .svg__path {
  fill: #8dc63f; }
.mininav__item:hover .svg--minilandscape .svg__path {
  fill: #8dc63f; }

.mininav__item--active .svg--minifinance .svg__path {
  fill: #fdb813; }
.mininav__item:hover .svg--minifinance .svg__path {
  fill: #fdb813; }

.mininav__item--active .svg--miniabout .svg__path {
  fill: url(#svg--miniabout-gradient); }
.mininav__item:hover .svg--miniabout .svg__path {
  fill: url(#svg--miniabout-gradient); }

.placeholder-text {
  /*    user-select: none;
      color: transparent !important;
      border-bottom: rem(12) solid #f8f8f8 !important;
  
      &--bold{
          border-width: rem(30) !important;
      }*/ }

.footer {
  display: flex;
  width: 100%;
  max-width: 79.375rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0vw + 2.1875rem);
  padding-right: calc(0vw + 2.1875rem);
  font-size: calc(0.3157894737vw + 0.7493421053rem);
  padding-bottom: calc(47.619047619vw - 25.2976190476rem);
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap-reverse; }
  @media (min-width: 79.375em) {
    .footer {
      padding-left: 2.1875rem; } }
  @media (min-width: 79.375em) {
    .footer {
      padding-right: 2.1875rem; } }
  @media (min-width: 79.375em) {
    .footer {
      font-size: 1rem; } }
  @media (min-width: 79.375em) {
    .footer {
      padding-bottom: 12.5rem; } }

.footer__right {
  flex-shrink: 0;
  width: 51.5625rem;
  max-width: 100%; }

.footer__left {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  align-content: space-between;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }

.footer__img {
  width: calc(26.4150943396vw + 4.7169811321rem);
  flex-shrink: 0;
  margin-right: auto; }
  @media (min-width: 53.125em) {
    .footer__img {
      width: 18.75rem; } }
  @media (min-width: 53.125em) {
    .footer__img {
      width: 100%;
      min-width: 18.75rem;
      max-width: 21.875rem; } }

.footer__copyright {
  font-size: calc(1.1320754717vw + 0.5235849057rem);
  color: #ededed; }
  @media (min-width: 53.125em) {
    .footer__copyright {
      font-size: 1.125rem; } }
  @media (min-width: 53.125em) {
    .footer__copyright {
      font-size: 1.125rem; } }

.footer__text {
  font-weight: bold;
  margin-top: 1em; }

html {
  font-family: "ProximaNova";
  letter-spacing: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fcfcfc;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-bottom: 3.625rem; }
  @media (min-width: 50em) {
    body {
      padding-bottom: 0; } }

.ratio-keeper {
  display: block;
  width: 100%; }

.ratio-keeper-v {
  display: block;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
