@import "variables.scss";

.invests{
    display: flex;
    width: 100%;
    flex-direction: column;
    &--preparing{
        .invests__row{
            /*opacity: 0.03;*/
        }
    }
}

.invests__heading{
    text-transform: none;
    width: 100%;
    margin-bottom: rem(50);
    line-height: 1;
}


.invests__row{
    display: flex;
    align-items: center;
    flex-direction:column-reverse;
    box-shadow: 0 rem(5) rem(20) 0 rgba(0, 0, 0, 0.05);
    @include linear-interpolation-chain(padding,$invests-row-paddings);
    @include media($invests-breakpoint){
        padding: 0;
        flex-direction: row;
        box-shadow: none;
    }

    &:not(:last-child){
        margin-bottom: rem(70);
    }
}

.invests__contacts{
    margin-right: auto;
    color: $color-primary-light;
    @at-root .invests--preparing &{
        /*background-color: black;*/
    }
    /*max-width: rem(450);*/
    width: 100%;
    padding: 0;

    @include media($invests-breakpoint){
        flex-shrink: 0;
        box-shadow: 0 rem(5) rem(20) 0 rgba(0, 0, 0, 0.05);
        width: rem(330);
        padding: rem(40) rem(40); 
    }
}

.invests__logo{
    width: 100%;
    max-width: rem(350);
    margin-bottom: rem(40);
    margin-right: auto;

    &--large{
        display: block;
        @include media($invests-breakpoint){
            display: none;
        }
    }
    &--small{
        display: none;
        @include media($invests-breakpoint){
            display: block;
        }
    }
}

.invests__description{
    margin-bottom: rem(50);
    @include media($invests-breakpoint){
        margin-bottom: 0;
        margin-left: $invests-description-spacing * 1em;
    }
}

.invests__paragraph{
    margin-bottom: 0;
}

.invests__description__heading{
    text-transform: none;
    width: 100%;
    margin-bottom: 1em;
}